{% if id %}
    {% extends "p_layout.html" %}
{% else %}
    {% extends "g_layout.html" %}
{% endif %}

{% block content %}

<h1 style="margin: 40px 0 40px 0;">書籍情報</h1>
<div class="ui grid">
    <div class="ui six wide column">
        <img class="ui centered medium image" src="{{ result.imageLink }}">
    </div>
    <div class="ten wide column">
        <table class="ui definition blue table">
            <tr>
                <td class="single line">書籍名</td>
                <td>{{ result.title }}</td>
            </tr>
            <tr>
                <td class="single line">著者</td>
                <td>{{ result.author }}</td>
            </tr>
            <tr>
                <td class="single line">残り冊数</td>
                <td>{{ result.numbers }}</td>
            </tr>
            <tr>
                <td class="single line">ISBNコード</td>
                <td>{{ result.ISBN }}</td>
            </tr>
            <tr>
                <td class="single line">詳細説明</td>
                <td>{{ result.des }}</td>
            </tr>
        </table>
    </div>
</div>

<div class="ui center aligned grid" style="margin-top: 60px;">
{% if id %}
    {% if result.numbers > 0 %}
        <a class="ui fluid primary button" href="{{ url_for('book_lental', book_id= result.id)}}">借りる</a>
    {% else %}
        <a class="ui fluid disabled button" href="{{ url_for('book_lental', book_id= result.id)}}">借りる</a>   
        <div class="ui center pointing red label">在庫が不足ため貸し出しできません</div>    
    {% endif %}

{% else %}
    <a class="ui fluid disabled button" href="{{ url_for('book_lental', book_id= result.id)}}">借りる</a>   
    <div class="ui center pointing red label">書籍を借りるにはログインが必要です</div>    

{% endif %}
</div>

{% endblock %}